services:
  postgres:
    image: postgres:14.17-bookworm
    container_name: spotify-postgres
    environment:
      - POSTGRES_DB=spotify-db
      - POSTGRES_USER=spotify
      - POSTGRES_PASSWORD=spotify123
    ports:
      - "5431:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  # redis:
  #   image: redis:latest
  #   container_name: spotify-redis
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - redis-data:/data

#  mysql:
#    container_name: mysql_container
#    image: mysql:8.0.41-debian
#    environment:
#      MYSQL_ROOT_PASSWORD: root
#      MYSQL_DATABASE: spotify-mysql
#      MYSQL_USER: admin
#      MYSQL_PASSWORD: admin123
#    ports:
#      - "3306:3306"
#    volumes:
#      - mysql_data:/var/lib/mysql
#    networks:
#      - spotify_network
#    restart: unless-stopped

networks:
  spotify_network:
    driver: bridge

volumes:
  postgres-data:
  redis-data:
  mysql_data:
